# Reference values for local development. Spring Boot does not load this file
# automatically; export these variables in the shell or IDE run configuration.
PC_LAB_SERVER_PORT=8088
PC_LAB_DB_URL=jdbc:mysql://127.0.0.1:3306/pc_lab_3d?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
PC_LAB_DB_USERNAME=root
PC_LAB_DB_PASSWORD=root
PC_LAB_REDIS_HOST=127.0.0.1
PC_LAB_REDIS_PORT=6379
PC_LAB_REDIS_PASSWORD=
PC_LAB_ADMIN_KEY=replace-with-a-local-admin-key
PC_LAB_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
PC_LAB_MODEL_ROOT=./storage/models
PC_LAB_MODEL_PUBLIC_PREFIX=/assets/models
